[Unit]
Description=Setup PWM Fan Controller prerequisites at boot
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/pwm_fan_setup.sh

[Install]
WantedBy=multi-user.target
